<h1>Product Details Page</h1>
<h3>Welcome {{product.strName}} </h3>

<p>Followings are product details</p>
<ul class="list-group text-center">
    <li class="list-group-item">Id: {{product._id}}</li>
    <li class="list-group-item">Product Image: {{product.strImage}}</li>
    <li class="list-group-item">Product Name: {{product.strName}}</li>
    <li class="list-group-item">Product Description: {{product.strdescription}}</li>
    <li class="list-group-item">Product Price: ${{product.intPrice}}</li>
</ul>
